<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/styles481px.css">
    <link rel="stylesheet" href="/CSS/styles769.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/formulario.css">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="top-header">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre"></a>
                
            </div>          

            <div class="form">
                <form action="#" method="GET">
                  <input type="text" placeholder= "Buscar productos, marcas y más">
                  <button><i class="fas fa-search"></i></button>
                    
                </form>    
            </div>              
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="main-navbar">
            
             <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li><br>
              </ul>
            
            
           
            
              <ul class="ul2" >
                <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas  fa-shopping-basket"></i></a></li>
               </ul>
            
            

        </nav>

        
    </header>

    <section class="banner">
        <img src="images/img-home-banner.jpg" width="360" alt="home banner">
    </section>
    


  <main>
        <div class="formulario">
            <form action="" method="post">

                <div class="usuario">
                  <label for="nombre">
                    <input type="text" placeholder="Nombre y apellido" value="" name="nombre" id="nombre" required>

                    <input type="text" placeholder="nombre de usuario" value="" name="usuario" id="usuario" required>

                    <input type="email" placeholder="ingrese email" name="email" id="email" required> 
                   </label>
                </div> 
                <br>

                <br>
                
                     <h3>Fecha de nacimiento</h3>
                    <div class="day-domicilio">
                        <label for="birthday"></label>
                    
                    <input type="date" name="fecha" id="fecha" required>

                    <input type="text" name="domicilio" placeholder="Domicilio">
                    </div>
                    

                    <br>
                    <h3>Perfil del Usuario</h3>
                    <br>

                    
                    <div class="radio">
                        <input type="radio" name="radio" value="comprar" id="comprar">
                        <label for="comprador">Comprador</label>
                         
                        
                        <input type="radio" name="radio" value="vender" id="vender">
                        <label for="vender">Vendedor</label>
                    </div>
                    <br>

                    <br>
                    <h4>Intereses</h4>

                <div class="intereses">
                    <div>
                        <input type="checkbox" name="intereses" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>

                    <div>
                        <input type="checkbox" name="intereses" value="a" id="a">
                        <label for="a">Moda</label>
                    </div>

                    <div>
                        <input type="checkbox" name="intereses" value="a" id="a">
                        <label for="a">Hogar</label>
                    </div>

                    <div>
                        <input type="checkbox" name="intereses" value="a" id="a">
                        <label for="a">Jugueteria</label>
                    </div>

                    <div>
                        <input type="checkbox" name="intereses" value="a" id="a">
                        <label for="a">Vida sana</label>
                    </div>
                </div>

                    <br>
                    <h4>Elegi tu foto de Usuario</h4>

                    <br>
                    
                    <div class="avatar">
                     <input type="file" name="avatar">
                    <br>
                    </div>
                   
                <div class="password"> 
                    <br>
                    <input type="password" name="contraseña" placeholder="Elegí tu contraseña">
                    <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                    <br>
                    <br>
                    </div>
                    
                    <div class="botones">
                    <input type="reset"value="Borrar">
                    <input type="submit" value="Enviar">
                </div>
                    
            </form>
        </div>  
   </main>




    <footer>
      
            
        </section>
    </footer>
</body>
</html>

