
/*Media Querys*/
@media (min-width: 1280px) {

    header{
        padding: 10px;
    }

    .top-header  {   
    
    display: flex;
    flex-wrap: wrap;  /*el wrap es para que conserven su tama;o, como al ser 50% cada uno se usa en total el 100% del espacio de la pagina*/
    margin: 0;
    padding: 0;
    /*me distribuira el espacio en y los istems que contenta mi clase padre(top.header)*/
    }
        
    .copy-header {   
        width:30%; 
        font-size: 90%;
        padding: 0;
        flex-grow: 0.5;   
           
    }

    .logo {    
        height: 100px;       
        width: 40%; /*esto es para compartir el espacio con el Form*/                 
    }

    .copy-header{
        font-size: 20px;
    }

 
    .form{      
        width: 15%;     
        flex-grow: 1;
        text-align: center;
    }


    .form input {       
    width: 65%;
    height: 40px;  
    }
    
    .form button{   
        width: 35px;
        height: 40px;    
    }   

    
    div.burger-menu{
        display: none;
    }
    
    .main-navbar{
        display: flex;
        justify-content: space-between;
        margin: 5% auto 0%;
        
    }
    

    .main-navbar ul {
        display: flex;
       
    }

    .ul2{
        display: flex;
        justify-content: end;
        
    }
    
    .main-navbar ul li{
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
    }
    
    .main-navbar ul li a{
        font-size: 15px;
        display: inline;
        margin: 0px 5px;
    }



   

    /*main*/
    
    

    main article img{
        display: flex;
        width: 25%;
    }
    main section article .description {
        display: block; /*este display va a mostrar la descripcion pasado el ancho de 361 px*/
        opacity: 0;
        transition: opacity 0.5s;
    }

    main section article:hover .description{
        opacity: 1;
    }


    main section article{
        box-shadow: none;
    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }



    .main-article i{
      transition: transform 1s;
    }

    main section .products article:hover i {
        transform: rotate(-90deg);
    }

  

    /*Inicio de Main*/

    /*dando estilos a los articulos*/
    .products{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*este wrap para que se separen de a 2 columnas se lo tengo que dar al padre si le doy a los hijo no cambiaria nada porque el contenedor de article es .products*/
    }

    
    main article {     
        width: 24%;       
    }

    .main-article{
        display: flex;
        flex-wrap: wrap;
    }

    .discount{
        width: 60%;   
        display: flex;
        justify-content: space-around; 
        justify-content: end;
    }

    .price{
        width: 40%;
    }


    .description{
        width: 100%;
    }


    /*Fin de Main*/



    /*Inicio de Footer*/

    .footer{
        display: flex;
    }

    h3.titulares-footer{
        font-size: 24px;
    }

    p.descripciones{
        font-size: 15px;
    }

    h5{
        font-size: 1rem;
        padding-bottom: 15px;
    }

    .footer article i{
        transition: color 0.5s;
    }

    .footer article i:hover{
        color: rgb(230, 212, 59)
    }
}



