
/*Media Querys*/
@media (min-width: 769px) {

    header{
        padding: 2%;
    }

    .top-header  {   
    
    display: flex;
    flex-wrap: wrap;  /*el wrap es para que conserven su tama;o, como al ser 50% cada uno se usa en total el 100% del espacio de la pagina*/
    margin: 0;
    padding: 0;
    /*me distribuira el espacio en y los istems que contenta mi clase padre(top.header)*/
    }
        
    .copy-header {   
        width:30%; 
        font-size: 90%;
        padding: 0;
        flex-grow: 0.5;   
           
    }

    .logo {    
        height: 100px;       
        width: 40%; /*esto es para compartir el espacio con el Form*/                 
    }
 
    .form{      
        width: 15%;     
        flex-grow: 1;
        text-align: center;
    }


    .form input {       
    width: 65%;
    height: 30px;  
    }
    
    .form button{   
        width: 25px;
        height: 30px;    
    }

    
    div.burger-menu{
        display: none;
    }
    
    .main-navbar{
        display: flex;
        justify-content: space-between;
        
    }
    

    .main-navbar ul {
        display: flex;
       
    }

    .ul2{
        display: flex;
        justify-content: end;
    }
    
    .main-navbar ul li{
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
    }
    
    .main-navbar ul li a{
        font-size: 15px;
        display: inline;
        margin: 0px 5px;
    }


   
    

    main article img{
        display: flex;
        width: 25%;
    }
    main section article .description {
        display: block; /*este display va a mostrar la descripcion pasado el ancho de 361 px*/
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100); /*se sonbreara los articulos pasados los 361px*/
        
    }



    /*Inicio de Main*/

    /*dando estilos a los articulos*/
    .products{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*este wrap para que se separen de a 2 columnas se lo tengo que dar al padre si le doy a los hijo no cambiaria nada porque el contenedor de article es .products*/
        
    }

    main article {     
        width: 24%;       
    }

    .main-article{
        display: flex;
        flex-wrap: wrap;
    }

    .discount{
        width: 60%;   
        display: flex;
        justify-content: space-around; 
        justify-content: end;
    }

    .price{
        width: 40%;
    }


    .description{
        width: 100%;
    }

    /*Fin de Main*/



    /*Inicio de Footer*/
    h3.titulares-footer{
        font-size: 2rem;
    }

    p.descripciones{
        font-size: 1rem;
    }

    h5{
        font-size: 1rem;
    }
}



